@model IEnumerable<BOL.tbl_PyInOut>
@using GridMvc.Html;

<div class="fa-paragraph">
    <div> <a href="@Url.Action("Report", new { id = "Pdf" })">Get Reprot Pdf </a></div>
    <div> <a href="@Url.Action("Report", new { id = "Excel" })">Get Reprot Excel </a></div>
    <div> <a href="@Url.Action("Report", new { id = "Word" })">Get Reprot Word </a></div>
    <div> <a href="@Url.Action("Report", new { id = "Imag" })">Get Reprot Imag </a></div>
</div>

@{
    try
    {
        if (Session["Lang"] != null || Session["Lang"].ToString() != "")
        {
            string Lang = Session["Lang"].ToString();


            if (Lang == "Ar")
            {
                Layout = "~/Views/Shared/_Layout_AR.cshtml";
            }

            else
            {
                Layout = "~/Views/Shared/_Layout.cshtml";
            }
        }
    }
    catch (Exception ex)
    {

    }


}

<link href="~/css/innerpage.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<h2>نتائج الاستعلام</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.EmployeeId).Titled("Employee ID").SetWidth(100).Sortable(true).Filterable(true);
    columns.Add(foo => foo.tbl_Employees.Employee_Name).Titled("Employee Name").SetWidth(200).Sortable(true).Filterable(true);
    columns.Add(foo => foo.DT).Titled("Date").SetWidth(100).Sortable(true).Filterable(true);
    columns.Add(foo => foo.Start_IN).Titled("Hour In").SetWidth(100).Sortable(true);
    columns.Add(foo => foo.Out_IN).Titled("Hour Out").SetWidth(100).Sortable(true);
}).WithPaging(6);











