@model IEnumerable<BOL.tbl_User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-striped table-bordered table-hover">
    <tr class="info">
        <th>
            @Html.ActionLink("UserName", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "ASC" : (ViewBag.SortOrder == "ASC" ? "Desc" : "ASC")), SortBy = "UserName" })
        </th>

        <th>
            @Html.ActionLink("Role", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "ASC" : (ViewBag.SortOrder == "ASC" ? "Desc" : "ASC")), SortBy = "Role" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
        </tr>
    }

</table>


@{
    double page = ViewBag.TotalPages;
}
<ul class="pagination">
    @for (int i = 1; i <= page; i++)
    {
        
       
            if (i == ViewBag.TotalPages)
            {
                <li>@Html.ActionLink(i.ToString() + " ", "index", new { SortOrder = (ViewBag.SortOrder == null ? "ASC" : "Desc"), SortBy = "UserEmail", Page = i })</li>
            }
            else
            {
                <li>@Html.ActionLink(i.ToString() + " ", "index", new { SortOrder = (ViewBag.SortOrder == null ? "ASC" : "Desc"), SortBy = "UserEmail", Page = i })</li>
            }
        
    }

</ul>