@model BOL.tbl_Employees



@{
    try
    {
        if (Session["Lang"] != null && Session["Lang"].ToString() != "")
        {
            string Lang = Session["Lang"].ToString();


            if (Lang == "Ar")
            {
                Layout = "~/Views/Shared/_Layout_AR.cshtml";
            }

            else
            {
                Layout = "~/Views/Shared/_Layout.cshtml";
            }
        }
    }
    catch (Exception)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.close').click(function () {
            $('#alert').hide(2000);
        });
    });

</script>
<h2><b>تعديل</b></h2>
<hr />
<br />
<br />
@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-dismissable alert-info" id="alert">
            <button type="button" class="close" data-dissmiss="alert">x</button>
            @TempData["msg"].ToString()
        </div>
    }

}
@using (Html.BeginForm("Edit", "ListEmployees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeId)

        <div class="form-group">
            @Html.Label("اسم الموظف", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Employee_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Employee_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("الكفيل", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Guarantor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Guarantor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("الجوال", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("صورة شخصية", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="file" id="file" name="file" class="btn btn-flickr" />
                @Html.ValidationMessageFor(model => model.EmplyeeImg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("تاريخ التعيين", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ" class="btn btn-default" />
            </div>
        </div>
    </div>
}

